@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@400;500;600&family=Montserrat:wght@700;800&family=Teko:wght@600&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    background: #1F1517;
    color: #FFFFFF;
}

html {  
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a { 
    text-decoration: none;
}

ul {    
    list-style: none;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {  
    font-family: Teko;
    font-size: 2rem;   
    font-weight: 600;   
    text-transform: uppercase;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color:#FFF2E780;
}

.github {
    color: #FFF2E7;
    font-weight: 600;
}

.home{
    color: #FFF2E7;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
}

.principal {    
    background: #181012;
}

.hero {
    max-width: 1120px;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
    padding: 0rem 2rem;
    margin: auto;
    overflow: clip;
    align-items: center;
    
}

.hero-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.destaque {
    font-family: Epilogue;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.marrom {
    color: #A45A49;
}

.amarelo {
    color:#E7A80E; 
 }

h1 {
    font-family: Montserrat;
    font-size: 3.5rem;
    font-weight: 800;
}

hr {
    border-color: #A45A49;
    width: 15rem;
}

.hero-subtitulo {
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
    color: #C7BAB3;
}

.hero-imagens-container {
    max-width: 45%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;
    overflow: clip;
}

.hero-imagens-container > figure > img {
    width: 100%;
    border-radius: 0.5rem;
    
}

.botao-container {
    width: 100%;
    max-width: 1120px;
    margin: auto;
    transform: translate("0, -50%");
}

button {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #A45A49;
}

.receitas {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
}

.receitas-cabecalho {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receitas-titulo {
    color: #FFF2E7;
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
}

.receitas-subtitulo {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    color: #C7BAB3;
}

.receitas-card-container {
    padding: 0rem 3rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}

.receitas-card {
    background: #241A1C;
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
    margin-top: 2rem;
}

.receitas-card-cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.receitas-card-cabecalho-detalhes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receitas-titulo {
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFF2E7;
}

.receitas-avaliacao {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    color: #756A67;
}

.receitas-descricao {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    color: #C7BAB3;
}

.receitas-autor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.receitas-autor > img {
    border-radius: 20rem;
    width: 1.5rem;
}

.receitas-autor-nome {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
    color: #C7BAB3;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 4rem;
    background: #23181A;
}

.rodape-copy {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    color: #FFF2E7;
}

.rodape-autor {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 242, 231, 0.50);
}